# Height of the channel
H=0.41 # m
# max velocity
Um=0.3 #m.s^-1
# viscosity
mu=0.001
# density
rho=1

bc-file=$cfgdir/turek-2d.bc

[bdf]
time-step=0.1
time-final=10


[gmsh]
hsize=0.05
filename=$cfgdir/turek.geo
geo-variables-list=shape="cylinder":dim=2


[blockns]
cd=true
pcd=true

[blockns.pmm]
# consider diagonal pressure mass matrix
diag=0

[blockns.pcd]
# CL at inflow of pressure
inflow=Robin
# CL at outflow of pressure 
outflow=Dirichlet#Neumann
# Mp Fp^-1 Ap : 1, other Ap Fp^-1 Mp
order=1

# Ap : diffusion operator
[Ap]
pc-type=lu
ksp-monitor=0
# pressure convection-diffusion operator
[Fp]
pc-type=lu
# velocity convection diffusion operator
[Fu]
pc-type=lu
ksp-monitor=0
# pressure mass matrix
[Mp]
pc-type=lu
ksp-monitor=0



[ns]
preconditioner=PCD
ksp-rtol=1e-6
ksp-monitor=1
ksp-maxit=100#30
ksp-type=gcr
ksp-use-initial-guess-nonzero=false
gcr-restart=100


[stokes]
preconditioner=PMM
ksp-rtol=1e-6
ksp-monitor=1
ksp-maxit=100#30
ksp-type=gcr
ksp-use-initial-guess-nonzero=false
gcr-restart=100

